@page
@model Torneo.App.Frontend.Pages.Equipos.IndexModel
@{
}
<h1>Listado de equipos</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Municipio</th>  

        </tr>
    </thead>
    <tbody>
        @foreach (var equipo in Model.equipo)
        {
            <tr>
                <th>@equipo.Id</th>
                <td>@equipo.Nombre</td>
                <td>@equipo.Municipio.Nombre</td>
            </tr>
        }
    </tbody>
</table>

